.FirstPageContentInside {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 8px;
	outline: none;
}
input[type=button] {
	width: 50%;
	background-color: #3880ff;
	color: white;
}
input[type=button]:hover {
	background-color: #38b2ff;
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
}
.About {
	position: fixed;
	bottom: 0;
	right: 0;
}
.ErrorText {
	color: crimson;
	border-style: hidden;
	background-color: #facdd6;
	padding: 10px;
	border-radius: 10px;
}
